* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #DDDDDD;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.6;
  text-align: center;
}
tr{
    color: white;
}
tr:hover {
  background-color: whitesmoke;
  color: white;
}
.btn {
  border: black solid 2px;
}
.btn:hover {
  background-color: red;
  color: white;
}
